# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data files (optional)
*.csv
*.json
*.pickle

# pytest cache
.pytest_cache/
